<header class="d-flex justify-content-between px-8 mb-8">
    <div class="side d-flex justify-content-center align-items-center">
        <h2 class="title fs-4 fw-bold pe-12 mb-0">Admin</h2>
        <div class="add">
            <a href="#" class="add-btn btn d-flex align-items-center py-0">
                <span class="add-icon material-symbols-outlined pe-2">add</span>
                <span class="btn-title fw-bold">Add New Admin</span>
            </a>
        </div>
    </div>
    <nav>
        <ul class="nav d-flex align-items-center">
            <div class="collapse collapse-horizontal" id="collapseExample">
                <div class="card card-body p-0">
                    <input class="search" id="search" type="search" placeholder="search" aria-label="search">
                </div>
            </div>
            <li class="nav-item">
                <button class="btn nav-link px-0 ps-2" data-bs-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    <span class="nav-icon material-symbols-outlined">
                        search
                    </span>
                </button>
            </li>

            <li class="nav-item">
                <button href="#" class="btn nav-link px-0">
                    <span class="nav-icon material-symbols-outlined ps-6">
                        notifications_active
                    </span>
                </button>
            </li>
        </ul>
    </nav>
</header>