<aside class="sidebar d-flex flex-column justify-content-between bg-secondary py-8">
    <div class="sidebar-content">
        <div class="logo ps-8 mb-8">
            <h1 class="m-0">
                <a href="./index.html" class="navbar-brand"><img src="../assets/images/logo-ANSWER.svg"
                        alt="Answer logo">
                </a>
            </h1>
        </div>
        <nav class="navbar py-0">
            <ul class="nav d-flex flex-column">
                <li class="nav-item mb-5 px-8">
                    <a href="#" class="nav-link d-flex ps-0">
                        <span class="nav-icon material-symbols-outlined me-3">insert_chart</span>
                        <span class="nav-item-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item mb-5 px-8">
                    <a href="#" class="nav-link d-flex ps-0">
                        <span class="nav-icon material-symbols-outlined me-3">forum</span>
                        <span class="nav-item-title">Qusetion</span>
                    </a>
                </li>
                <li class="nav-item mb-5 px-8 active" aria-current="page">
                    <a href="#" class="nav-link active d-flex ps-0">
                        <span class="nav-icon material-symbols-outlined me-3">assignment</span>
                        <span class="nav-item-title">Assignment</span>
                    </a>
                </li>
                <li class="nav-item mb-5 px-8">
                    <a href="#" class="nav-link d-flex ps-0">
                        <span class="nav-icon material-symbols-outlined me-3">video_library</span>
                        <span class="nav-item-title">Course</span>
                    </a>
                </li>
                <li class="nav-item mb-5 px-8">
                    <a href="#" class="nav-link d-flex ps-0">
                        <span class="nav-icon material-symbols-outlined me-3">group</span>
                        <span class="nav-item-title">Admin</span>
                    </a>
                </li>
                <li class="nav-item mb-5 px-8">
                    <a href="#" class="nav-link d-flex ps-0">
                        <span class="nav-icon material-symbols-outlined me-3">settings</span>
                        <span class="nav-item-title">Settings</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="user d-flex align-items-center ps-8 me-20">
        <img class="user-pic rounded-circle me-4" src="../assets/images/andychen.jpeg" alt="Andy個人照">
        <div class="user-info">
            <p class="user-name mb-1">Andy Chen</p>
            <p class="user-email mb-0">andy0401@mail.com</p>
        </div>
    </div>
</aside>